body {
    background-color: #2e3440;
    color: white;
    width: 90vw;
    padding: 0 10px;
}

#input, #output {
    border-radius: 3px;
    border: 1px solid white;
    padding: 10px;
    font-size: 1.4em;
    width: 100%;
    margin: 5px 0;
    min-height: 100px;
}

#output {
    font-size: 1.2em;
}

button {
    background: #434c5e;
    padding: 4px 8px;
    color: white;
    font-size: 1em;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 2px;
    border: none;
}
